<div class="login">
     <h1>Resend Confirmation Instructions</h1>

     <div id="form">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>

            <div class="actions">
              <%= f.submit "Re-Send Instructions" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
     </div>
</div>
