.wrapper
     #otoForm
          = simple_form_for @oto do |f|
               = f.input :image, class: "image", label: false
               = f.input :title, class: "title", label: false, placeholder: "Photograph Title"
               = f.input :description, class: "description", label: false, placeholder: "Brief Description (Where'd you take it? What is it? Are you proud of it? What aperture did you use?)"
               = f.button :submit, value: "Upload", class: "button", label: false
