.wrapper
     #header.license
          %h1 
               %span Edit your Aerial Photograph
          %p
               Upload a image/video/gif that is of an aerial shot
               %br
               Asset must be appropriate and aerial in some way

= render "form"
