- if @quota_warning.present?
     %span= @quota_warning


.banner
     #footage
          = image_tag("anders.jpg")
     #search
          .wrapper
               %h1 
                    %span Hello There
               %p
                    Discover the newest aerial photos
                    %br
                    and aerial videos below
               = form_tag(otos_path, :method => "get", id: "search-form") do
                    = text_field_tag :search, params[:search], placeholder: "ZIP Code"
                    %br
                    = submit_tag "Search", :name => nil, class: "button"

.wrapper
     #header
          %h1 
               %span Aerial Galore!
          #loop
               - @otos.each do |oto|
                    .photo
                         = link_to (image_tag oto.image.url(:small)), oto
                         %h1= link_to oto.title, oto
                         %p
                              %b Photographer -
                              = oto.user.name
                         %p
                              %b Charges Per Hour -
                              = oto.user.priceph
