.wrapper
     - if @oto.errors[:base].any?
          #alert
               .fontawesome
                    %i.fa.fa-exclamation-triangle
               %p.alert= @oto.errors.full_messages_for(:base).to_sentence
     #header.license
          %h1 
               %span Upload a Aerial Photograph
          %p
               Upload a image/video/gif that is of an aerial shot
               %br
               Asset must be appropriate and aerial in some way

= render "form"
