.wrapper
	#header.profile
		%h1
			%span Hello
			%span= current_user.name
		= link_to "New Post", new_oto_path, class: "button"
	#loop
		- @otos.each do |oto|
			.photo
				= link_to (image_tag oto.image.url(:small)), oto
				%h1= link_to oto.title, oto
				%p
					%b Photographer -
					= oto.user.name
				%p
					%b Charges Per Hour -
					= oto.user.priceph
