.banner
     #footage
          = image_tag @oto.image

.wrapper
     #header
          %h1
               %span= @oto.title
               by
               %span= @oto.user.name
          %p= simple_format(@oto.description)
          #links
               - if @oto.user == current_user
                    = link_to "Back", :back, class: "button"
                    = link_to "Contact Info", "#", class: "button", id: "contact"
                    = link_to "Edit", edit_oto_path, class: "button"
                    = link_to "Delete Footage", @oto, method: :delete, data: { confirm: "Are you sure you want to delete " + @oto.title + "? This action is irreversible." }, class: "button"
               - else
                    = link_to "Back", :back, class: "button"
                    = link_to "Contact Info", "#", class: "button", id: "contact"

#contactInfo
     .wrapper
          #text
               = link_to raw("<i class='fa fa-times'></i>"), "#", id: "closeInfo"
               %ul
                    %li
                         %i.fa.fa-user
                         = @oto.user.name
                    %li
                         %i.fa.fa-envelope
                         = link_to @oto.user.email, "mailto:" + @oto.user.email, id: "lowercase"
                    %li
                         %i.fa.fa-address-book
                         = @oto.user.bio
                    %li
                         %i.fa.fa-camera
                         = @oto.user.camera
                    %li
                         %i.fa.fa-clock-o
                         = @oto.user.airtime
                    %li
                         %i.fa.fa-credit-card-alt
                         = @oto.user.priceph
                    %li
                         %i.fa.fa-map-pin
                         = @oto.user.zipcode
