<div class="login">
     <div class="wrapper">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>

          <div id="form">
               <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                 <%= devise_error_messages! %>

                 <div class="field">
                  <!-- <%= f.label :name %><br /> -->
                  <%= f.text_field :name, autofocus: true %>
                </div>

                 <div class="field">
                   <!-- <%= f.label :email %><br /> -->
                   <%= f.email_field :email, autofocus: false %>
                 </div>

                 <div class="field">
                   <!-- <%= f.label :bio %><br /> -->
                   <%= f.text_area :bio, autofocus: false %>
                 </div>

                 <div class="field">
                 <!-- <%= f.label :camera, value: "Camera Type Information (Year, Model, Camera Lense Info)" %><br /> -->
                 <%= f.text_field :camera, autofocus: false %>
               </div>

               <div class="field">
                 <!-- <%= f.label :priceph, value: "Price to charge per hour" %><br /> -->
                 <%= f.text_field :priceph, autofocus: false %>
               </div>

               <div class="field">
                 <!-- <%= f.label :airtime, value: "Maximum Time for Work" %><br /> -->
                 <%= f.text_field :airtime, autofocus: false %>
               </div>

               <div class="field">
                 <!-- <%= f.label :zipcode, value: "Your ZIP Code (So Clients can find you)" %><br /> -->
                 <%= f.text_field :zipcode, autofocus: false, placeholder: "ZIP Code" %>
               </div>

                 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                   <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                 <% end %>

                 <div class="field">
                   <!-- <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br /> -->
                   <%= f.password_field :password, autocomplete: "off", placeholder: "Your Password" %>
                   <% if @minimum_password_length %>
                     <br />
                     <em><%= @minimum_password_length %> characters minimum</em>
                   <% end %>
                 </div>

                 <div class="field">
                   <!-- <%= f.label :password_confirmation %><br /> -->
                   <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Your Password (Confirmation)" %>
                 </div>

                 <div class="field">
                   <!-- <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br /> -->
                   <%= f.password_field :current_password, autocomplete: "off", placeholder: "Password To Confirm Changes" %>
                 </div>

                 <div class="actions">
                   <%= f.submit "Update" %>
                 </div>
               <% end %>

               <h3>Cancel my account</h3>

               <p>Unhappy? <%= link_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account? This action is irreversible!" }, method: :delete %></p>

               <%= link_to "Back", :back %>

          </div>
     </div>
</div>
