<div class="login">
     <div class="wrapper">
          <h1><span>Photographers Sign Up</span></h1>

          <div id="form">
               <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                 <%= devise_error_messages! %>

                 <div class="field">
                      <%= f.text_field :name, autofocus: true, placeholder: "John Doe (or Jane Doe?)", required: true %>
                </div>

                 <div class="field">
                   <%= f.email_field :email, autofocus: false, placeholder: "hey@random.com", required: true %>
                 </div>

                 <div class="field">
                   <%= f.text_area :bio, autofocus: false, placeholder: "A Short Biography", required: true %>
                 </div>

                 <div class="field">
                   <%= f.text_field :camera, autofocus: false, placeholder: "Camera Information", required: true %>
                 </div>

                 <div class="field">
                   <%= f.text_field :priceph, autofocus: false, placeholder: "Price to be Charged Per Hour", required: true %>
                 </div>

                 <div class="field">
                   <%= f.text_field :airtime, autofocus: false, placeholder: "Minimum Time for Work", required: true %>
                 </div>

                 <div class="field">
                   <%= f.text_field :zipcode, autofocus: false, placeholder: "Your ZIP Code", required: true %>
                 </div>

                 <div class="field">
                   <%= f.password_field :password, autocomplete: "off", placeholder: "Password", required: true %>
                 </div>

                 <div class="field">
                   <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Verification", required: true %>
                 </div>

                 <div class="field">
                      <%= recaptcha_tags site_key: "6LfCuyQUAAAAALosG6wwM5WGnUx_f6QT_FVU8sds", id: "recaptcha" %>
                 </div>

                 <div class="actions">
                   <%= f.submit "Sign Up", class: "button" %>
                 </div>
               <% end %>

               <%= render "devise/shared/links" %>
          </div>
     </div>
</div>
