/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


*/
/* line 25, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
}

/* line 31, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
body, html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: "Arial MS", sans-serif;
}

/* line 39, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0FACF3;
  font-weight: bold;
}
/* line 44, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
a:hover {
  color: #3C4857;
  cursor: pointer;
}

/* line 50, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
h4.scroll {
  position: relative;
  bottom: 0px;
  text-align: center;
  display: block;
  padding: 72px 0px;
  color: #9AA9BE;
}

/* line 59, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
li {
  list-style: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* line 66, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 71, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
span.bold {
  font-weight: bold;
}

/* line 75, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div#alert {
  padding: 0.75rem 5rem;
  position: absolute;
  right: 0;
  box-shadow: 0px 0px 4px rgba(252, 75, 78, 0.75);
  border-radius: 4px;
  background-color: #FC4B4E;
}

/* line 84, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
p.alert, p.notice {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/* line 91, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div#notice {
  padding: 0.75rem 5rem;
  position: absolute;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(60, 72, 87, 0.75);
  border-radius: 4px;
  background-color: #3C4857;
}

/* line 100, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 105, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
.clearfix:both {
  clear: both;
}

/* line 109, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
.center {
  margin: 0 auto;
}

/* line 113, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 117, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
.submit {
  height: 60px;
}

/* line 121, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
a.option {
  display: inline-block;
  padding-right: 25px;
}

/* line 126, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
img.image {
  display: block;
  box-shadow: 0px 0px 4px rgba(154, 169, 190, 0.5);
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
}

/* line 134, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.links {
  display: block;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 72px;
}

@keyframes rotation {
  0% {
    transform: rotate(120deg);
  }
  25% {
    transform: rotate(240deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(120deg);
  }
}
/* line 159, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
button, button.button, input[type="submit"], a.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px;
  width: 200px;
  border-radius: 4px;
  background-color: #0FACF3;
  color: #FFFFFF;
  border: none;
  margin-top: 8px;
}
/* line 170, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
button:hover, button.button:hover, input[type="submit"]:hover, a.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(154, 169, 190, 0.5);
  transform: scale(1.15);
}

/* line 177, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
label {
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
}
/* line 181, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
label.inline {
  display: inline-block;
}

/* line 186, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
input {
  appearance: none;
  border: 1px solid #3C4857;
  border-radius: 4px;
  outline: none;
  color: #3C4857;
  font-size: 1em;
  min-width: 300px;
}
/* line 194, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
input[type="email"], input[type="password"], input[type="text"] {
  padding: 20px;
}

/* line 199, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
input[type="file"] {
  appearance: none;
  border: none;
  border-radius: none;
  outline: none;
  color: #3C4857;
  font-size: 1em;
}

/* line 208, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
textarea {
  appearance: none;
  border: 1px solid #3C4857;
  border-radius: 4px;
  outline: none;
  color: #9AA9BE;
  font-size: 1em;
  min-width: 350px;
  min-height: 400px;
  padding: 20px;
}

/* line 220, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.wrapper {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

/* line 226, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
span.new {
  display: block;
}

/* line 230, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
span.line {
  border: 3px solid #0FACF3;
  position: fixed;
  top: 0;
  z-index: 22;
  width: 100%;
}

/* line 238, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
h1 {
  color: #9AA9BE;
  text-transform: uppercase;
}

/* line 243, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container {
  padding-top: 175px;
  padding-bottom: 72px;
  position: relative;
}
/* line 247, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container div.loop {
  text-align: center;
  margin-top: 72px;
}
/* line 250, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container div.loop div.object {
  display: block;
  width: 100%;
  margin-top: 50px;
}
/* line 254, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container div.loop div.object img {
  width: 50%;
}
/* line 257, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container div.loop div.object:last-child {
  margin-bottom: 25px;
}

/* line 264, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation {
  z-index: 20;
  background-color: #FFFFFF;
  box-shadow: 200px 0px 0px white, -200px 0px 0px white;
  padding-top: 72px;
  margin-bottom: 50px;
  height: 150px;
  width: 90%;
  position: fixed;
}
/* line 273, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation a.logo {
  right: 133px;
  transform: scale(0.4);
  position: relative;
  top: -140px;
  font-size: 1.5em;
  color: #3C4857;
  display: block;
  float: left;
}
/* line 282, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation a.logo img {
  padding: 0px;
  margin: 0px;
}
/* line 285, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation a.logo img:hover {
  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
/* line 292, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation nav {
  float: right;
}
/* line 294, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation nav li {
  display: inline-block;
  padding-left: 25px;
}
/* line 297, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation nav li a {
  color: #0FACF3;
}
/* line 299, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation nav li a:hover {
  color: #3C4857;
}

/* line 307, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container.login {
  padding: 20px 0px;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(154, 169, 190, 0.5);
  border: 4px;
}
/* line 312, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container.login div.wrapper {
  text-align: left;
}
/* line 314, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container.login div.wrapper div.field {
  padding: 20px 0px;
}
/* line 317, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container.login div.wrapper a {
  margin-top: 8px;
  display: block;
}

/* line 324, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.text {
  max-height: 100vh;
  display: table;
}
/* line 327, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.text h1 {
  color: #9AA9BE;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  font-size: 2.25em;
  text-align: left;
  padding-left: 145px;
}
/* line 335, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.text h1 button {
  display: block;
  background-color: #0FACF3;
}
/* line 339, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.text h1 button a {
  color: #FFFFFF;
}
/* line 344, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.text img {
  display: block;
  margin: 0 auto;
  padding: 0px 25px;
}

/* line 352, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.what-we-do h1 {
  text-align: center;
  margin-top: 72px;
}
/* line 356, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.what-we-do div.photographer, div.what-we-do div.others {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(154, 169, 190, 0.5);
  padding: 1.5em 2em;
  border-radius: 4px;
  margin: 25px 0px;
}
/* line 365, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.what-we-do div.photographer p, div.what-we-do div.others p {
  color: #9AA9BE;
  line-height: 30px;
  max-width: 80%;
  margin: 0 auto;
}
/* line 371, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.what-we-do div.photographer h2, div.what-we-do div.others h2 {
  color: #3C4857;
  text-transform: uppercase;
}
/* line 375, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.what-we-do div.photographer:hover, div.what-we-do div.others:hover {
  box-shadow: 0px 0px 100px rgba(154, 169, 190, 0.5);
}

/* line 381, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works {
  width: 100%;
  height: 100%;
}
/* line 384, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works h1 {
  text-align: center;
  margin-top: 72px;
}
/* line 388, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works div.step {
  width: 100%;
  height: 175px;
  display: block;
  text-align: center;
}
/* line 393, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works div.step h4, div.how-it-works div.step p {
  line-height: 30px;
  max-width: 50%;
  margin: 0 auto;
}
/* line 398, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works div.step h4 {
  color: #3C4857;
  padding-top: 25px;
}
/* line 401, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works div.step h4:last-child {
  padding-top: 50px;
}
/* line 405, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works div.step p {
  color: #9AA9BE;
}

/* line 411, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.cta {
  margin-top: 72px;
}
/* line 413, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.cta h1 {
  margin-bottom: 25px;
}
/* line 416, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.cta p {
  color: #9AA9BE;
}
/* line 419, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.cta h1, div.cta p, div.cta a {
  text-align: center;
}
/* line 422, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.cta a {
  display: block;
  padding: 10px 0px;
}

/* line 428, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.footer {
  text-align: center;
  color: #9AA9BE;
  margin-top: 45px;
}

/* line 434, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.hr {
  margin: 2rem 0 0 0;
  padding: 0;
}
/* line 437, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.hr hr.line {
  display: block;
  text-align: center;
  width: 10%;
  color: #9AA9BE;
  border-radius: 4px;
  height: 5px;
  background-color: #9AA9BE;
  border: 0;
  border-top: 5px solid #9AA9BE;
  padding: 0;
}

/* line 451, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.header {
  text-align: center;
}
/* line 453, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.header h1 {
  color: #3C4857;
}
/* line 456, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.header p {
  color: #9AA9BE;
  line-height: 30px;
}

/* line 462, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.contact {
  display: none;
}
/* line 464, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.contact.active {
  display: block;
}

@media only screen and (max-width: 1654px) {
  /* line 470, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.text {
    text-align: center;
    margin: 0 auto;
  }
  /* line 473, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.text h1 {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 1.25em;
  }
  /* line 478, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.text h1.bottom {
    text-align: left;
  }
  /* line 481, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.text h1 div.button {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  /* line 485, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.text h1 div.button button {
    text-align: center;
    display: block;
    margin: 10px auto;
  }
  /* line 492, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.text img {
    display: block;
    float: left;
    padding: 0px 25px;
  }

  /* line 498, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  h4.scroll {
    display: none;
  }
}
@media only screen and (max-width: 1008px) {
  /* line 505, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.text img {
    display: block;
    margin: 0 auto;
    padding: 0px 25px;
    width: 100%;
  }
}
@media only screen and (max-width: 562px) {
  /* line 516, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation a.logo {
    position: relative;
    top: -175px;
  }
  /* line 519, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation a.logo img {
    padding: 0px;
    margin: 0px;
  }
  /* line 522, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation a.logo img:hover {
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  /* line 529, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation nav {
    float: right;
    position: relative;
  }
  /* line 532, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation nav li {
    display: inline-block;
    padding: 80px 15px 0px 15px;
  }
  /* line 535, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation nav li:last-child {
    padding: 80px 15px 0px 0px;
  }
  /* line 538, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation nav li:first-child {
    padding: 80px 0px 0px 15px;
  }
}
