/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree .
*= require_self
*/
/* Universal Styling Rules */
/* line 27, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
}

/* line 33, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
body, html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

/* line 41, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0FACF3;
  font-weight: bold;
}
/* line 46, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
a:hover {
  color: #3C4857;
  cursor: pointer;
}
/* line 50, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
a#lowercase {
  text-transform: lowercase;
}
/* line 53, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
a.button {
  display: inline-block;
  max-width: 300px;
  appearance: none;
  background-color: #FFFFFF;
  border: 3.5px solid #0FACF3;
  border-radius: 8px;
  padding: 15px 75px;
  margin-bottom: 12px;
}
/* line 62, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
a.button:hover {
  background-color: #0FACF3;
  color: #FFFFFF;
}

/* line 69, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
input[type="submit"] {
  font-size: 16px;
  color: #0FACF3;
  display: inline-block;
  max-width: 300px;
  appearance: none;
  background-color: #FFFFFF;
  border: 3.5px solid #0FACF3;
  border-radius: 8px;
  padding: 15px 75px;
  margin-bottom: 12px;
}
/* line 80, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
input[type="submit"]:hover {
  background-color: #0FACF3;
  color: #FFFFFF;
  cursor: pointer;
}

/* line 87, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
li {
  list-style: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* line 94, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 99, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#alert {
  padding: 0.75rem 5rem;
  box-shadow: 0px 0px 4px rgba(154, 169, 190, 0.75);
  border-radius: 8px;
  background-color: #FFFFFF;
  position: absolute;
  width: 30%;
  right: 0;
}
/* line 107, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#alert div.fontawesome {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  background-color: #FC4B4E;
  float: left;
  clear: both;
  padding-left: 32px;
  padding-top: 26px;
}
/* line 120, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#alert div.fontawesome i {
  color: #FFFFFF;
  text-align: center;
}

/* line 127, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
p.alert, p.notice {
  color: #3C4857;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  float: right;
  clear: both;
}

/* line 136, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#notice {
  padding: 0.75rem 5rem;
  box-shadow: 0px 0px 4px rgba(154, 169, 190, 0.75);
  border-radius: 8px;
  background-color: #FFFFFF;
  position: absolute;
  width: 30%;
  right: 0;
}
/* line 144, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#notice div.fontawesome {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  background-color: #0BE370;
  float: left;
  clear: both;
  padding-left: 32px;
  padding-top: 26px;
}
/* line 157, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#notice div.fontawesome i {
  color: #FFFFFF;
  text-align: center;
}

/* line 164, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 169, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
.clearfix:both {
  clear: both;
}

/* line 173, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.wrapper {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  overflow: visible;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: scale(360deg);
  }
}
@keyframes slideout {
  from {
    left: -25%;
  }
  to {
    left: 0;
  }
}
/* line 198, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
h1, h2, h3, h4, h5, h6 {
  color: #3C4857;
  text-align: center;
}
/* line 201, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  border-bottom: 5px solid #0FACF3;
}

/* line 206, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
p {
  color: #9AA9BE;
}

/* line 210, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
input[type="text"], input[type="password"], input[type="email"], textarea {
  appearance: none;
  border: 3px solid #3C4857;
  border-radius: 8px;
  width: 400px;
  color: #3C4857;
  outline: none;
  height: 50px;
  padding: 0px 25px;
  font-size: 1em;
  margin-bottom: 25px;
}
/* line 221, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
  color: #9AA9BE;
}

/* line 226, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
textarea {
  padding-top: 25px;
  height: 400px;
  resize: none;
}

/* Welcome Page Styling */
/* line 234, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 50px;
  z-index: 25;
}
/* line 241, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation i {
  font-size: 1.8em;
}
/* line 244, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation div#menu {
  margin-left: -400px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  background-color: #FFFFFF;
  transition: margin 400ms ease-in-out;
}
/* line 253, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation div#menu.active {
  box-shadow: 0px 0px 1000px rgba(154, 169, 190, 0.5);
  margin-left: 0px;
}
/* line 256, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation div#menu.active div#menuItems {
  margin-top: 50px;
}
/* line 258, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation div#menu.active div#menuItems #closeNav {
  margin-bottom: 50px;
  display: block;
}
/* line 262, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation div#menu.active div#menuItems ul li {
  padding: 12px 0px;
  color: #9AA9BE;
  float: right;
  display: block;
  width: 100%;
  clear: both;
  font-size: 1.25em;
}
/* line 270, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation div#menu.active div#menuItems ul li i {
  font-size: 1.25em;
  float: left;
  clear: both;
  padding-top: 4px;
  padding-right: 50px;
}

/* line 283, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.banner {
  z-index: 0;
  height: 700px;
  width: 100%;
  position: relative;
}
/* line 288, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.banner div#footage {
  background-color: #999;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}
/* line 295, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.banner div#footage img {
  height: 700px;
}
/* line 298, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.banner div#footage video, div.banner div#footage img {
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent !important;
  -webkit-appearance: none;
  background-position: center center;
}
/* line 305, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.banner div#footage video::-webkit-media-controls-enclosure, div.banner div#footage img::-webkit-media-controls-enclosure {
  display: none;
}

/* line 312, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#header.profile {
  margin-top: 40px;
  text-align: center;
}

/* line 317, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#header {
  width: 100%;
  margin-top: 25px;
}
/* line 320, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#header h1 {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 25px;
}
/* line 326, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#header div#links {
  padding-top: 25px;
  text-align: center;
}

/* line 332, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom {
  width: 100%;
  margin-top: 100px;
}
/* line 335, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom div#bubbles {
  margin-top: 50px;
  text-align: center;
}
/* line 338, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom div#bubbles div.bubble {
  padding: 25px 0px;
  box-shadow: 0px 0px 8px rgba(154, 169, 190, 0.5);
  border-radius: 8px;
  margin-bottom: 25px;
  background-color: #FFFFFF;
}
/* line 344, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom div#bubbles div.bubble:hover {
  box-shadow: 0px 0px 100px rgba(154, 169, 190, 0.5);
}
/* line 347, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom div#bubbles div.bubble h3 {
  text-transform: uppercase;
}
/* line 350, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom div#bubbles div.bubble p {
  max-width: 900px;
  margin: 0 auto;
}
/* line 354, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom div#bubbles div.bubble a {
  margin-top: 25px;
  margin-bottom: 15px;
}

/* line 362, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#nutshell {
  background-color: #E5E5F1;
  box-shadow: 200px 0px 0px #E5E5F1, -200px 0px 0px #E5E5F1;
  width: 100%;
  margin-top: 100px;
  padding: 50px 0px;
}
/* line 368, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#nutshell p {
  margin-top: 50px;
  text-align: center;
  line-height: 40px;
}

/* line 375, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#cta {
  margin-top: 100px;
  width: 100%;
  padding: 50px 0px;
  text-align: center;
}
/* line 380, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#cta p {
  margin-top: 50px;
}
/* line 383, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#cta button {
  margin-top: 25px;
}

/* line 388, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#footer {
  width: 100%;
  margin-top: 100px;
  padding: 50px 0px;
  background-color: #E5E5F1;
  box-shadow: 200px 0px 0px #E5E5F1, -200px 0px 0px #E5E5F1;
  text-align: center;
}
/* line 395, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#footer p {
  margin-top: 50px;
  line-height: 0px;
}

/* Devise Styling Rules */
/* line 402, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.login {
  width: 100%;
  margin: 45px 0px;
  text-align: center;
}
/* line 406, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.login div#form {
  margin: 100px 0px;
}

@media only screen and (max-width: 1000px) {
  /* line 413, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
  div.bubble p {
    line-height: 80px;
  }

  /* line 418, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
  div#footer p {
    line-height: 25px;
  }

  /* line 423, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
  div#nutshell p {
    line-height: 80px;
  }

  /* line 428, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
  div#loop div.photo {
    display: block;
    width: 100%;
  }
}
/* line 8, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div.banner div#search {
  box-shadow: 0px 0px 3px rgba(60, 72, 87, 0.5);
  max-width: 800px;
  padding: 50px 0;
  background-color: #FFFFFF;
  border-radius: 8px;
  text-align: center;
  position: relative;
  top: -475px;
  margin: 0 auto;
}
/* line 18, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div.banner div#search input[type="submit"] {
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 20, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div.banner div#search input[type="submit"]:hover {
  background-color: #0FACF3;
}

/* line 27, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#header {
  width: 100%;
  margin-top: 100px;
}
/* line 30, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#header h1 {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
/* line 35, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#header p {
  text-align: center;
  line-height: 40px;
}
/* line 39, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#header div#links {
  text-align: center;
}

/* line 44, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#contactInfo {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #FFFFFF;
  width: 400px;
  z-index: 100;
  margin-left: -400px;
  transition: margin 400ms ease-in-out;
}
/* line 54, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#contactInfo.active {
  box-shadow: 0px 0px 1000px rgba(154, 169, 190, 0.5);
  margin-left: 0px;
}
/* line 58, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#contactInfo div#text {
  padding-top: 50px;
}
/* line 60, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#contactInfo div#text a#closeInfo {
  font-size: 1.5em;
  display: block;
  margin-bottom: 50px;
}
/* line 65, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#contactInfo div#text ul li {
  padding: 12px 0px;
  color: #9AA9BE;
  float: right;
  display: block;
  width: 100%;
  clear: both;
}
/* line 72, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#contactInfo div#text ul li i {
  font-size: 1em;
  float: left;
  clear: both;
  padding-top: 4px;
  padding-right: 50px;
}

/* line 83, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#loop {
  width: 100%;
  margin-top: 100px;
  padding: 50px 0px;
  background-color: #E5E5F1;
  box-shadow: 200px 0px 0px #E5E5F1, -200px 0px 0px #E5E5F1;
}
/* line 89, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#loop div.photo {
  width: 33%;
  text-align: center;
  display: inline-block;
}
/* line 93, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#loop div.photo img {
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(60, 72, 87, 0.5);
}
/* line 96, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/otos.scss */
div#loop div.photo img:hover {
  box-shadow: 0px 0px 100px rgba(60, 72, 87, 0.5);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


*/
/* Universal Styling Rules */
/* line 28, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
}

/* line 34, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
body, html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

/* line 42, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0FACF3;
  font-weight: bold;
}
/* line 47, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
a:hover {
  color: #3C4857;
  cursor: pointer;
}
/* line 51, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
a#lowercase {
  text-transform: lowercase;
}
/* line 54, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
a.button {
  display: inline-block;
  max-width: 300px;
  appearance: none;
  background-color: #FFFFFF;
  border: 3.5px solid #0FACF3;
  border-radius: 8px;
  padding: 15px 75px;
  margin-bottom: 12px;
}
/* line 63, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
a.button:hover {
  background-color: #0FACF3;
  color: #FFFFFF;
}

/* line 70, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
input[type="submit"] {
  font-size: 16px;
  color: #0FACF3;
  display: inline-block;
  max-width: 300px;
  appearance: none;
  background-color: #FFFFFF;
  border: 3.5px solid #0FACF3;
  border-radius: 8px;
  padding: 15px 75px;
  margin-bottom: 12px;
}
/* line 81, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
input[type="submit"]:hover {
  background-color: #0FACF3;
  color: #FFFFFF;
  cursor: pointer;
}

/* line 88, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
li {
  list-style: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* line 95, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 100, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#alert {
  padding: 0.75rem 5rem;
  box-shadow: 0px 0px 4px rgba(154, 169, 190, 0.75);
  border-radius: 8px;
  background-color: #FFFFFF;
  position: absolute;
  width: 30%;
  right: 0;
}
/* line 108, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#alert div.fontawesome {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  background-color: #FC4B4E;
  float: left;
  clear: both;
  padding-left: 32px;
  padding-top: 26px;
}
/* line 121, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#alert div.fontawesome i {
  color: #FFFFFF;
  text-align: center;
}

/* line 128, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
p.alert, p.notice {
  color: #3C4857;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  float: right;
  clear: both;
}

/* line 137, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#notice {
  padding: 0.75rem 5rem;
  box-shadow: 0px 0px 4px rgba(154, 169, 190, 0.75);
  border-radius: 8px;
  background-color: #FFFFFF;
  position: absolute;
  width: 30%;
  right: 0;
}
/* line 145, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#notice div.fontawesome {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  background-color: #0BE370;
  float: left;
  clear: both;
  padding-left: 32px;
  padding-top: 26px;
}
/* line 158, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#notice div.fontawesome i {
  color: #FFFFFF;
  text-align: center;
}

/* line 165, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 170, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
.clearfix:both {
  clear: both;
}

/* line 174, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.wrapper {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  overflow: visible;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: scale(360deg);
  }
}
@keyframes slideout {
  from {
    left: -25%;
  }
  to {
    left: 0;
  }
}
/* line 199, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
h1, h2, h3, h4, h5, h6 {
  color: #3C4857;
  text-align: center;
}
/* line 202, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  border-bottom: 5px solid #0FACF3;
}

/* line 207, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
p {
  color: #9AA9BE;
}

/* line 211, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
input[type="text"], input[type="password"], input[type="email"], textarea {
  appearance: none;
  border: 3px solid #3C4857;
  border-radius: 8px;
  width: 400px;
  color: #3C4857;
  outline: none;
  height: 50px;
  padding: 0px 25px;
  font-size: 1em;
  margin-bottom: 25px;
}
/* line 222, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
  color: #9AA9BE;
}

/* line 227, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
textarea {
  padding-top: 25px;
  height: 400px;
  resize: none;
}

/* Welcome Page Styling */
/* line 235, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 50px;
  z-index: 25;
}
/* line 242, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation i {
  font-size: 1.8em;
}
/* line 245, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation div#menu {
  margin-left: -400px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  background-color: #FFFFFF;
  transition: margin 400ms ease-in-out;
}
/* line 254, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation div#menu.active {
  box-shadow: 0px 0px 1000px rgba(154, 169, 190, 0.5);
  margin-left: 0px;
}
/* line 257, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation div#menu.active div#menuItems {
  margin-top: 50px;
}
/* line 259, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation div#menu.active div#menuItems #closeNav {
  margin-bottom: 50px;
  display: block;
}
/* line 263, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation div#menu.active div#menuItems ul li {
  padding: 12px 0px;
  color: #9AA9BE;
  float: right;
  display: block;
  width: 100%;
  clear: both;
  font-size: 1.25em;
}
/* line 271, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.navigation div#menu.active div#menuItems ul li i {
  font-size: 1.25em;
  float: left;
  clear: both;
  padding-top: 4px;
  padding-right: 50px;
}

/* line 284, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.banner {
  z-index: 0;
  height: 700px;
  width: 100%;
  position: relative;
}
/* line 289, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.banner div#footage {
  background-color: #999;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}
/* line 296, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.banner div#footage img {
  height: 700px;
}
/* line 299, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.banner div#footage video, div.banner div#footage img {
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent !important;
  -webkit-appearance: none;
  background-position: center center;
}
/* line 306, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.banner div#footage video::-webkit-media-controls-enclosure, div.banner div#footage img::-webkit-media-controls-enclosure {
  display: none;
}

/* line 313, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#header.profile {
  margin-top: 40px;
  text-align: center;
}

/* line 318, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#header {
  width: 100%;
  margin-top: 25px;
}
/* line 321, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#header h1 {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 25px;
}
/* line 327, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#header div#links {
  padding-top: 25px;
  text-align: center;
}

/* line 333, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom {
  width: 100%;
  margin-top: 100px;
}
/* line 336, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom div#bubbles {
  margin-top: 50px;
  text-align: center;
}
/* line 339, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom div#bubbles div.bubble {
  padding: 25px 0px;
  box-shadow: 0px 0px 8px rgba(154, 169, 190, 0.5);
  border-radius: 8px;
  margin-bottom: 25px;
  background-color: #FFFFFF;
}
/* line 345, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom div#bubbles div.bubble:hover {
  box-shadow: 0px 0px 100px rgba(154, 169, 190, 0.5);
}
/* line 348, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom div#bubbles div.bubble h3 {
  text-transform: uppercase;
}
/* line 351, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom div#bubbles div.bubble p {
  max-width: 900px;
  margin: 0 auto;
}
/* line 355, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#forWhom div#bubbles div.bubble a {
  margin-top: 25px;
  margin-bottom: 15px;
}

/* line 363, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#nutshell {
  background-color: #E5E5F1;
  box-shadow: 200px 0px 0px #E5E5F1, -200px 0px 0px #E5E5F1;
  width: 100%;
  margin-top: 100px;
  padding: 50px 0px;
}
/* line 369, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#nutshell p {
  margin-top: 50px;
  text-align: center;
  line-height: 40px;
}

/* line 376, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#cta {
  margin-top: 100px;
  width: 100%;
  padding: 50px 0px;
  text-align: center;
}
/* line 381, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#cta p {
  margin-top: 50px;
}
/* line 384, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#cta button {
  margin-top: 25px;
}

/* line 389, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#footer {
  width: 100%;
  margin-top: 100px;
  padding: 50px 0px;
  background-color: #E5E5F1;
  box-shadow: 200px 0px 0px #E5E5F1, -200px 0px 0px #E5E5F1;
  text-align: center;
}
/* line 396, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div#footer p {
  margin-top: 50px;
  line-height: 0px;
}

/* Devise Styling Rules */
/* line 403, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.login {
  width: 100%;
  margin: 45px 0px;
  text-align: center;
}
/* line 407, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
div.login div#form {
  margin: 100px 0px;
}

@media only screen and (max-width: 1000px) {
  /* line 414, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
  div.bubble p {
    line-height: 80px;
  }

  /* line 419, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
  div#footer p {
    line-height: 25px;
  }

  /* line 424, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
  div#nutshell p {
    line-height: 80px;
  }

  /* line 429, /Users/Brehanu/Desktop/Bre/skoto/app/assets/stylesheets/application.scss */
  div#loop div.photo {
    display: block;
    width: 100%;
  }
}
