/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


*/
/* line 25, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
}

/* line 31, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
body, html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: "Arial MS", sans-serif;
}

/* line 39, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FC4B4E;
  font-weight: bold;
}
/* line 44, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
a:hover {
  color: #3C4857;
  cursor: pointer;
}

/* line 50, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
h4.scroll {
  position: relative;
  bottom: 0px;
  text-align: center;
  display: block;
  padding: 72px 0px;
}

/* line 58, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
li {
  list-style: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* line 65, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 70, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
p.notice {
  padding: 20px 0px;
  text-align: center;
  border: 3px solid #0BE370;
  border-radius: 4px;
  background-color: rgba(11, 227, 112, 0.5);
}

/* line 78, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
p.alert {
  padding: 20px 0px;
  text-align: center;
  border: 3px solid #FC4B4E;
  border-radius: 4px;
  background-color: rgba(252, 75, 78, 0.5);
}

/* line 86, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 91, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
.clearfix:both {
  clear: both;
}

/* line 95, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
a.option {
  display: inline-block;
  padding-right: 25px;
}

/* line 100, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
img.image {
  display: block;
  box-shadow: 0px 0px 4px rgba(154, 169, 190, 0.5);
  border-radius: 4px;
  margin-bottom: 24px;
}

@keyframes rotation {
  0% {
    transform: rotate(120deg);
  }
  25% {
    transform: rotate(240deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(120deg);
  }
}
/* line 125, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
button, button.button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px;
  width: 200px;
  border-radius: 4px;
  background-color: #FC4B4E;
  color: #FFFFFF;
  border: none;
  margin-top: 8px;
}
/* line 136, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
button:hover, button.button:hover, input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(154, 169, 190, 0.5);
}

/* line 142, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
label {
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
}

/* line 148, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
input {
  appearance: none;
  border: 1px solid #3C4857;
  border-radius: 4px;
  outline: none;
  color: #9AA9BE;
  font-size: 1em;
  min-width: 300px;
}
/* line 156, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
input[type="email"], input[type="password"], input[type="text"] {
  padding: 20px;
}

/* line 161, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
textarea {
  appearance: none;
  border: 1px solid #3C4857;
  border-radius: 4px;
  outline: none;
  color: #9AA9BE;
  font-size: 1em;
  min-width: 350px;
  min-height: 400px;
  padding: 20px;
}

/* line 173, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.wrapper {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

/* line 179, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
span.new {
  display: block;
}

/* line 183, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
span.line {
  border: 3px solid #FC4B4E;
  position: fixed;
  top: 0;
  z-index: 22;
  width: 100%;
}

/* line 191, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
h1 {
  color: #9AA9BE;
  text-transform: uppercase;
}

/* line 196, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container {
  top: 150px;
  position: relative;
}

/* line 201, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation {
  z-index: 20;
  background-color: #FFFFFF;
  padding-top: 72px;
  margin-bottom: 50px;
  height: 150px;
  width: 90%;
  position: fixed;
}
/* line 209, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation a.logo {
  right: 133px;
  transform: scale(0.2);
  position: relative;
  top: -155px;
  font-size: 1.5em;
  color: #000000;
  display: block;
  float: left;
}
/* line 218, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation a.logo img {
  padding: 0px;
  margin: 0px;
}
/* line 221, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation a.logo img:hover {
  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
/* line 228, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation nav {
  float: right;
}
/* line 230, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.navigation nav li {
  display: inline-block;
  padding-left: 25px;
}

/* line 237, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container.login {
  padding: 20px 0px;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(154, 169, 190, 0.5);
  border: 4px;
}
/* line 242, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container.login div.wrapper {
  text-align: left;
}
/* line 244, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container.login div.wrapper div.field {
  padding: 20px 0px;
}
/* line 247, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.container.login div.wrapper a {
  margin-top: 8px;
  display: block;
}

/* line 254, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.text {
  max-height: 100vh;
  display: table;
}
/* line 257, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.text h1 {
  color: #9AA9BE;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  font-size: 2.25em;
}
/* line 263, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.text h1.bottom {
  text-align: right;
  width: 391px;
}
/* line 268, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.text img {
  display: block;
  margin: 0 auto;
  padding: 0px 25px;
}

/* line 276, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.what-we-do h1 {
  text-align: center;
  margin-top: 72px;
}
/* line 280, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.what-we-do div.photographer, div.what-we-do div.others {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(154, 169, 190, 0.5);
  padding: 1.5em 2em;
  border-radius: 4px;
  margin: 25px 0px;
}
/* line 289, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.what-we-do div.photographer p, div.what-we-do div.others p {
  display: none;
  color: #9AA9BE;
  line-height: 30px;
  max-width: 80%;
  margin: 0 auto;
}
/* line 295, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.what-we-do div.photographer p.active, div.what-we-do div.others p.active {
  display: block;
}
/* line 299, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.what-we-do div.photographer h2, div.what-we-do div.others h2 {
  color: #3C4857;
  text-transform: uppercase;
}
/* line 303, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.what-we-do div.photographer:hover, div.what-we-do div.others:hover {
  cursor: pointer;
  box-shadow: 0px 0px 100px rgba(154, 169, 190, 0.5);
}

/* line 310, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works {
  width: 100%;
  height: 100%;
}
/* line 313, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works h1 {
  text-align: center;
  margin-top: 72px;
}
/* line 317, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works div.step {
  width: 100%;
  height: 175px;
  display: block;
  text-align: center;
}
/* line 322, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works div.step h4, div.how-it-works div.step p {
  line-height: 30px;
  max-width: 50%;
  margin: 0 auto;
}
/* line 327, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works div.step h4 {
  color: #3C4857;
  padding-top: 25px;
}
/* line 330, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works div.step h4:last-child {
  padding-top: 50px;
}
/* line 334, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.how-it-works div.step p {
  color: #9AA9BE;
}

/* line 340, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.cta {
  margin-top: 72px;
}
/* line 342, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.cta h1 {
  margin-bottom: 25px;
}
/* line 345, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.cta p {
  color: #9AA9BE;
}
/* line 348, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.cta h1, div.cta p, div.cta a {
  text-align: center;
}
/* line 351, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.cta a {
  display: block;
  padding: 10px 0px;
}

/* line 357, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
div.footer {
  text-align: center;
  color: #9AA9BE;
  margin-bottom: 72px;
}

@media only screen and (max-width: 1654px) {
  /* line 364, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.text {
    margin: 0 auto;
  }
  /* line 366, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.text h1 {
    display: block;
    font-size: 1.25em;
    text-align: center;
  }
  /* line 370, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.text h1.bottom {
    text-align: center;
    margin: 0 auto;
  }
  /* line 375, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.text img {
    display: block;
    margin: 0 auto;
    padding: 0px 25px;
  }

  /* line 381, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  h4.scroll {
    display: none;
  }
}
@media only screen and (max-width: 1008px) {
  /* line 388, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.text img {
    display: block;
    margin: 0 auto;
    padding: 0px 25px;
    width: 100%;
  }
}
@media only screen and (max-width: 562px) {
  /* line 399, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation a.logo {
    position: relative;
    top: -175px;
  }
  /* line 402, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation a.logo img {
    padding: 0px;
    margin: 0px;
  }
  /* line 405, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation a.logo img:hover {
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  /* line 412, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation nav {
    float: right;
    position: relative;
  }
  /* line 415, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation nav li {
    display: inline-block;
    padding: 80px 15px 0px 15px;
  }
  /* line 418, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation nav li:last-child {
    padding: 80px 15px 0px 0px;
  }
  /* line 421, /Users/Brehanu/Desktop/Business/skoto/app/assets/stylesheets/application.scss */
  div.navigation nav li:first-child {
    padding: 80px 0px 0px 15px;
  }
}
