<div class="login">
     <div class="wrapper">
          <h1><span>Resend Unlock Instructions</span></h1>

          <div id="form">
               <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
                 <%= devise_error_messages! %>

                 <div class="field">
                   <%= f.email_field :email, autofocus: true, label: false, placeholder: "Email Address" %>
                 </div>

                 <div class="actions">
                   <%= f.submit "Resend" %>
                 </div>
               <% end %>

               <%= render "devise/shared/links" %>
          </div>
     </div>
</div>
