.banner
     #footage
          = video_tag("skotoIntroVideo.mp4", :controls => false, :autobuffer => true, :autoplay => true, :loop => true, :preload => "auto", id: "heroVideo")

.wrapper
     #header
          %h1
               %span High res photos and videos for just about anything. Now doesn't that sound lovely?
          #links
               = link_to "Sign Up", new_user_registration_path, class: "button"
               = link_to "Start Hiring", otos_path, class: "button"
     #forWhom
          %h1
               %span So, who is Skoto for?
          #bubbles
               .bubble
                    .wrapper
                         %h3 We're for aerial photographers...
                         %p This could be a new job for aerial photographers. Paying only $5 per month, photographers can upload 25 photos and videos on their account. In return, they get noticed by the world and they can market their skills to anyone skeeing a unique perspective on their event.
                         = link_to "Sign Up", new_user_registration_path, class: "button"
               .bubble
                    .wrapper
                         %h3 We're for everyone else...
                         %p Anyone can browse the hundreds of photos and videos people had uploaded. If someone likes the style that the photographer provides, with a few clicks, they can meet together for a project. When they're done, they photographer gets paid and the person gets the service.
                         = link_to "Start Hiring", otos_path, class: "button"
     #nutshell
          %h1
               %span In a Nutshell...
          %p Let's say Jane Doe is an aerial photographer. She hears about Skoto and thinks, "This is perfect!" She reads what it's about and signs up immediately. She pays only $5 per month. She thinks to herself how cheap that is. She starts uploading aerial photos and videos of her landscape. She knows that she can only upload 25 of either thing.
          %p Now imagine Shia Labeouf needed an aerial video of his wedding. He loves Jane's photos and gets her contact info directly from Skoto. They meet and Shia asks Jane if she is willing to take a video of the wedding. Jane agrees. During the wedding, Jane takes beautiful photos and videos of the wedding.
          %p Shia Labeouf pays Jane her amount she specified on her profile. They thank each other and walk away both happy. Now doesn't that sound awesome?
     #cta
          %h1
               %span Well? What are you waiting for?!
          %p
               Start uploading aerial photos and videos or start hiring.
               %br
               It's a win-win either way.
          = link_to "Sign Up", new_user_registration_path, class: "button"
          = link_to "Start Hiring", otos_path, class: "button"
     #footer
          %h1
               %span Skoto is Copyright (c) 2017 by Peter G and Brehanu B
          %p
               All rights reserved |
               = link_to "Terms and Conditions", otos_path
          %p
               Read our
               = link_to "blog", otos_path
          %p
               Contact Us
               = link_to "admin@skoto.co", "mailto:admin@skoto.co"
