<% if @search.search_otos.empty? %>
     <p>No Footage Found. Sorry! :(</p>
<% else %>
     <% @search.search_otos.each do |c| %>
          <div class="div">
               <h1>Name: <%= c.name %></h1>
               <p>Price: <%= c.price %></p>
               <p>ZIP Code: <%= c.zipcode %></p>
               <p>Air Time: <%= c.airtime %></p>
          </div>
     <% end %>
<% end %>
