<div class="login">
     <div class="wrapper">
          <h1><span>Change Your Password</span></h1>

          <div id="form">
               <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                 <%= devise_error_messages! %>
                 <%= f.hidden_field :reset_password_token %>

                 <div class="field">
                   <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "New Password" %>
                 </div>

                 <div class="field">
                   <%= f.password_field :password_confirmation, autocomplete: "off", value: "Confirm New Password" %>
                 </div>

                 <div class="actions">
                   <%= f.submit "Change My Password" %>
                 </div>
               <% end %>

               <%= render "devise/shared/links" %>
          </div>
     </div>
</div>
