<div class="login">
     <div class="wrapper">
          <h1><span>Forgot Your Password?</span></h1>

          <div id="form">
               <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                 <%= devise_error_messages! %>

                 <div class="field">
                   <%= f.email_field :email, autofocus: true, placeholder: "Email Address" %>
                 </div>

                 <div class="actions">
                   <%= f.submit "Reset Password" %>
                 </div>
               <% end %>

               <%= render "devise/shared/links" %>
          </div>
          </div>
</div>
