<div class="login">
     <div class="wrapper">
          <h1><span>Photographers Log In</span></h1>

          <div id="form">
               <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                    <div class="field">
                         <%= f.email_field :email, autofocus: true, placeholder: "Your Email Address" %>
                    </div>

                    <div class="field">
                         <%= f.password_field :password, autocomplete: "off", placeholder: "Your Password" %>
                    </div>

                    <div class="actions">
                         <%= f.submit "Log In", class: "button" %>
                    </div>
               <% end %>

               <%= render "devise/shared/links" %>
          </div>
     </div>
</div>
