/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree .
*= require_self
*/
/* Universal Styling Rules */
$rhino: #3C4857;
$nepal: #9AA9BE;
$mystic: #E5E5F1;
$white: #FFFFFF;
$blue: #0FACF3;

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #0FACF3;
    font-weight: bold;

    &:hover {
        color: #3C4857;
        cursor: pointer;
    }

    &#lowercase {
        text-transform: lowercase;
    }

    &.button {
        display: inline-block;
        max-width: 300px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #FFFFFF;
        border: 3.5px solid #0FACF3;
        border-radius: 8px;
        padding: 15px 75px;
        margin-bottom: 12px;

        &:hover {
            background-color: #0FACF3;
            color: #FFFFFF;
        }
    }
}

input {
    &[type="file"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #FFFFFF;
        border: 3px dashed #9AA9BE;
        width: 400px;
        height: 50px;
        text-align: center;
        padding-top: 12px;
        padding-left: 100px;
        margin-bottom: 25px;
        outline: none;
    }

    &[type="submit"] {
        font-size: 18px;
        height: 64px;
        text-transform: uppercase;
        font-weight: bold;
        color: #0FACF3;
        display: inline-block;
        max-width: 300px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #FFFFFF;
        border: 3.5px solid #0FACF3;
        border-radius: 8px;
        padding: 15px 75px;
        margin-bottom: 12px;

        &:hover {
            background-color: #0FACF3;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}

li {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

div#alert {
    z-index: 100;
    margin-top: 50px;
    padding: 0.75rem 5rem;
    -webkit-box-shadow: 0 0 4px rgba(154, 169, 190, 0.75);
    box-shadow: 0 0 4px rgba(154, 169, 190, 0.75);
    border-radius: 8px;
    background-color: #FFFFFF;
    position: absolute;
    width: 30%;
    right: 50px;

    div.fontawesome {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 80px;
        background-color: #FC4B4E;
        float: left;
        clear: both;
        padding-left: 28px;
        padding-top: 26px;

        i {
            color: #FFFFFF;
            text-align: center;
        }
    }
}

p {
    &.alert,
    &.notice {
        color: #3C4857;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        float: right;
        clear: both;
    }
}

div#notice {
    z-index: 100;
    margin-top: 50px;
    padding: 0.75rem 5rem;
    -webkit-box-shadow: 0 0 4px rgba(154, 169, 190, 0.75);
    box-shadow: 0 0 4px rgba(154, 169, 190, 0.75);
    border-radius: 8px;
    background-color: #FFFFFF;
    position: absolute;
    width: 30%;
    right: 50px;

    div.fontawesome {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 80px;
        background-color: #0BE370;
        float: left;
        clear: both;
        padding-left: 28px;
        padding-top: 26px;

        i {
            color: #FFFFFF;
            text-align: center;
        }
    }
}

.clearfix {
    &:after,
    &:before {
        content: " ";
        display: table;
    }

    &:both {
        clear: both;
    }
}

div.wrapper {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    overflow: visible;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    to {
        -webkit-transform: scale(360deg);
        transform: scale(360deg);
    }
}
@keyframes rotation {
    from {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    to {
        -webkit-transform: scale(360deg);
        transform: scale(360deg);
    }
}
@-webkit-keyframes slideout {
    from {
        left: -25%;
    }

    to {
        left: 0;
    }
}
@keyframes slideout {
    from {
        left: -25%;
    }

    to {
        left: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3C4857;
    text-align: center;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    border-bottom: 5px solid #0FACF3;
}

p {
    color: #9AA9BE;
}

input {
    &[type="email"],
    &[type="password"],
    &[type="text"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 3px solid #3C4857;
        border-radius: 8px;
        width: 400px;
        color: #3C4857;
        outline: none;
        height: 50px;
        padding: 0 25px;
        font-size: 1em;
        margin-bottom: 25px;
    }
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 3px solid #3C4857;
    border-radius: 8px;
    width: 400px;
    color: #3C4857;
    outline: none;
    height: 50px;
    padding: 0 25px;
    font-size: 1em;
    margin-bottom: 25px;
}

input {
    &[type="email"]::-webkit-input-placeholder,
    &[type="password"]::-webkit-input-placeholder,
    &[type="text"]::-webkit-input-placeholder {
        color: #9AA9BE;
    }
}

textarea::-webkit-input-placeholder {
    color: #9AA9BE;
}

input {
    &[type="email"]:-ms-input-placeholder,
    &[type="password"]:-ms-input-placeholder,
    &[type="text"]:-ms-input-placeholder {
        color: #9AA9BE;
    }
}

textarea:-ms-input-placeholder {
    color: #9AA9BE;
}

input {
    &[type="email"]::placeholder,
    &[type="password"]::placeholder,
    &[type="text"]::placeholder {
        color: #9AA9BE;
    }
}

textarea {
    &::placeholder {
        color: #9AA9BE;
    }
    padding-top: 25px;
    height: 400px;
    resize: none;
    color: #3C4857;
}

/* Welcome Page Styling */

div {
    &.navigation {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 50px;
        z-index: 25;

        i {
            font-size: 1.8em;
            text-align: center;
            &.nav {
                 color: $rhino;
                 width: 80px;
            }
        }

        div#menu {
            margin-left: -400px;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 400px;
            background-color: #FFFFFF;
            -webkit-transition: margin 400ms ease-in-out;
            transition: margin 400ms ease-in-out;

            &.active {
                -webkit-box-shadow: 0 0 1000px rgba(154, 169, 190, 0.5);
                box-shadow: 0 0 1000px rgba(154, 169, 190, 0.5);
                margin-left: 0;

                div#menuItems {
                    margin-top: 50px;

                    #closeNav {
                        margin-bottom: 50px;
                        display: block;
                    }

                    ul li {
                        padding: 12px 0;
                        color: #9AA9BE;
                        float: right;
                        display: block;
                        width: 100%;
                        clear: both;
                        font-size: 1.25em;
                        
                        p {
                             padding-left: 80px;
                            margin: 0px;
                        }

                        i {
                            font-size: 1.25em;
                            float: left;
                            clear: both;
                            padding-top: 4px;
                            padding-right: 50px;
                        }
                    }
                }
            }
        }
    }

    &.banner {
        z-index: 0;
        height: 700px;
        width: 100%;
        position: relative;

        div#footage {
            background-color: #999;
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            overflow: hidden;

            img {
                height: 700px;
            }

            img,
            video {
                width: 100%;
                border: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                background-color: transparent !important;
                -webkit-appearance: none;
                background-position: center center;
            }

            img::-webkit-media-controls-enclosure,
            video::-webkit-media-controls-enclosure {
                display: none;
            }
        }
    }

    &#header {
        &.license {
            margin-top: 40px;
            text-align: center;

            p {
                margin-top: 0;
                padding-top: 0;
            }
        }

        &.profile {
            margin-top: 40px;
            text-align: center;
        }
        width: 100%;
        margin-top: 25px;

        h1 {
            text-align: center;
            margin: 0 auto;
            max-width: 800px;
            padding-bottom: 25px;
        }

        div#links {
            padding-top: 25px;
            text-align: center;
        }
    }

    &#forWhom {
        width: 100%;
        margin-top: 100px;

        div#bubbles {
            margin-top: 50px;
            text-align: center;

            div.bubble {
                padding: 25px 0;
                -webkit-box-shadow: 0 0 8px rgba(154, 169, 190, 0.5);
                box-shadow: 0 0 8px rgba(154, 169, 190, 0.5);
                border-radius: 8px;
                margin-bottom: 25px;
                background-color: #FFFFFF;

                &:hover {
                    -webkit-box-shadow: 0 0 100px rgba(154, 169, 190, 0.5);
                    box-shadow: 0 0 100px rgba(154, 169, 190, 0.5);
                }

                h3 {
                    text-transform: uppercase;
                }

                p {
                    max-width: 900px;
                    margin: 0 auto;
                }

                a {
                    margin-top: 25px;
                    margin-bottom: 15px;
                }
            }
        }
    }

    &#nutshell {
        background-color: #E5E5F1;
        -webkit-box-shadow: 200px 0 0 #E5E5F1, -200px 0 0 #E5E5F1;
        box-shadow: 200px 0 0 #E5E5F1, -200px 0 0 #E5E5F1;
        width: 100%;
        margin-top: 100px;
        padding: 50px 0;

        p {
            margin-top: 50px;
            text-align: center;
            line-height: 40px;
        }
    }

    &#cta {
        margin-top: 100px;
        width: 100%;
        padding: 50px 0;
        text-align: center;

        p {
            margin-top: 50px;
        }

        button {
            margin-top: 25px;
        }
    }

    &#footer {
        width: 100%;
        margin-top: 100px;
        padding: 50px 0;
        background-color: #E5E5F1;
        -webkit-box-shadow: 200px 0 0 #E5E5F1, -200px 0 0 #E5E5F1;
        box-shadow: 200px 0 0 #E5E5F1, -200px 0 0 #E5E5F1;
        text-align: center;

        p {
            margin-top: 50px;
            line-height: 0;
        }
    }

    &.login {
        width: 100%;
        margin: 45px 0;
        text-align: center;

        div#form {
            margin: 100px 0;
        }
    }
}

div.g-recaptcha  {
     text-align: center;
     margin-bottom: 25px;
     display: inline-block;
}

/* Devise Styling Rules */
@media only screen and (max-width: 1000px) {
    div#alert,
    div#notice {
         width: 100%;
    }
    div {
        &.banner p {
             line-height: 26px;
        }
        &.banner {
            height: 300px;
        }
        &#nutshell p {
             line-height: 26px;
        }
        &#footer p {
            line-height: 26px;
        }

        &#loop {
            text-align: center;

            div.photo {
                display: block;
                width: 100%;
            }
        }

        &#alert,
        &#notice {
            width: 100%;
        }
    }
}
