// Place all the styles related to the Otos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application.scss";

div {
  &.banner div#search {
    -webkit-box-shadow: 0px 0px 3px rgba(60, 72, 87, 0.5);
    box-shadow: 0px 0px 3px rgba(60, 72, 87, 0.5);
    max-width: 800px;
    padding: 50px 0;
    background-color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    position: relative;
    top: -475px;
    margin: 0 auto;
    input[type="text"] {
         width: 75%;
    }
    input[type="submit"] {
      background-color: rgba(255, 255, 255, 0.1);
      &:hover {
        background-color: #0FACF3;
      }
    }
  }
  &#header {
    width: 100%;
    margin-top: 100px;
    h1 {
      text-align: center;
      margin: 0 auto;
      max-width: 800px;
    }
    p {
      text-align: center;
      line-height: 40px;
    }
    div#links {
      text-align: center;
    }
  }
  &#contactInfo {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    width: 400px;
    z-index: 100;
    margin-left: -400px;
    -webkit-transition: margin 400ms ease-in-out;
    transition: margin 400ms ease-in-out;
    &.active {
      -webkit-box-shadow: 0px 0px 1000px rgba(154, 169, 190, 0.5);
      box-shadow: 0px 0px 1000px rgba(154, 169, 190, 0.5);
      margin-left: 0px;
    }
    div#text {
      padding-top: 50px;
      a#closeInfo {
        font-size: 1.5em;
        display: block;
        margin-bottom: 50px;
      }
      ul li {
        padding: 12px 0px;
        color: #9AA9BE;
        float: right;
        display: block;
        width: 100%;
        clear: both;
        i {
          font-size: 1em;
          float: left;
          clear: both;
          padding-top: 4px;
          padding-right: 50px;
        }
      }
    }
  }
  &#loop {
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 100px;
    background-color: #E5E5F1;
    -webkit-box-shadow: 200px 0px 0px #E5E5F1, -200px 0px 0px #E5E5F1;
    box-shadow: 200px 0px 0px #E5E5F1, -200px 0px 0px #E5E5F1;
    div.photo {
      width: 33%;
      text-align: center;
      display: inline-block;
      padding: 50px 0px;
      img {
        border-radius: 8px;
        -webkit-box-shadow: 0px 0px 8px rgba(60, 72, 87, 0.5);
        box-shadow: 0px 0px 8px rgba(60, 72, 87, 0.5);
        &:hover {
          -webkit-box-shadow: 0px 0px 100px rgba(60, 72, 87, 0.5);
          box-shadow: 0px 0px 100px rgba(60, 72, 87, 0.5);
        }
      }
      h1 {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      p {
        margin-top: 0;
        padding-top: 0;
        line-height: 12px;
      }
    }
  }
}

#otoForm {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
