!!!
%html
%head
     %title Skoto
     = csrf_meta_tags
     = stylesheet_link_tag "application", media: "all"
     = javascript_include_tag "application"
     %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin: "anonymous"}
     %link{:href => "https://fonts.googleapis.com/css?family=Poppins:500,700", :rel => "stylesheet"}/
     = favicon_link_tag "/images/favicon-32.ico"
     %meta{"title" => "Content-Type", :content => "Skoto LLC"}/
     %meta{"description" => "Content-Type", :content => "High res aerial photos for just about anything and a opportunity for photographers can make a living taking photos"}/
     %meta{"keywords" => "Content-Type", :content => "aerial, photos, photo, aerial photos, aerial photo, photographer, photographers, skoto, skoto llc"}/
     %meta{"viewport" => "Content-Type", :content => "width=device-width, initial-scale=1.0"}/
     %meta{"author" => "Content-Type", :content => "Skoto LLC - Peter G and Brehanu B"}/
     %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
     %script{:src => "https://www.google.com/recaptcha/api.js"}
%body
     %span.line
     .navigation
          .wrapper
               = link_to raw("<i class='fa fa-bars'></i>"), "#", id: "navToggle"
               #menu
                    .wrapper
                         #menuItems
                              = link_to raw("<i class='fa fa-times'></i>"), "#", id: "closeNav"
                              %ul
                                   - if user_signed_in?
                                        %li
                                             %i.fa.fa-camera.nav
                                             = link_to "Browse Photos", otos_path
                                        %li
                                             %i.fa.fa-user.nav
                                             = link_to "View Your Profile", profile_path
                                        %li
                                             %i.fa.fa-pencil.nav
                                             = link_to "Edit Your Account", edit_user_registration_path
                                        %li
                                             %i.fa.fa-sign-out.nav
                                             = link_to "Log Out", destroy_user_session_path, method: :delete
                                   - else
                                        %li
                                             %i.fa.fa-home.nav
                                             = link_to "Home", root_path
                                        %li
                                             %i.fa.fa-camera.nav
                                             = link_to "Scan Photos / Videos", otos_path
                                        %li
                                             %i.fa.fa-key.nav
                                             = link_to "Log In", new_user_session_path
                                        %li
                                             %i.fa.fa-sign-in.nav
                                             = link_to "Sign Up", new_user_registration_path
                              %ul#second
                                   %li
                                        %i.fa.fa-gavel.nav
                                        = link_to "Terms and Conditions", license_terms_path
                                   %li
                                        %i.fa.fa-plane.nav
                                        = link_to "Know Before You Fly", "http://knowbeforeyoufly.org/", :target => "_blank"
                                        %p FAA Rules and Regulations
                                   %li
                                        %i.fa.fa-rss.nav
                                        = link_to "Read Blog", otos_path
     .container
          - if alert
               #alert
                    .fontawesome
                         %i.fa.fa-exclamation-triangle
                    %p.alert= alert
          - if notice
               #notice
                    .fontawesome
                         %i.fa.fa-check
                    %p.notice= notice
          = yield
